#header {
  position: sticky;
  top: 0px;
  border: 1px solid black;
  width: 100%;
  height: 60px;
  /* margin: 5px; */
  padding: 5px;
  background-color: rgb(91, 36, 102);
}
#manu {
  position: relative;
  float: left;
}
#serchbar {
  position: relative;

  float: right;
  /* border: 1px solid white; */
  margin: auto 10px auto auto;
  padding: 9px;
}
#serchbar input {
  background-image: linear-gradient(red, yellow);
  width: 279px;
  padding: 5px;
  font-family: monospace;
  font-weight: bolder;
  font-size: 17px;
  border-radius: 300px;
}
#serchbar input:focus {
  box-shadow: 0px 0px 10px whitesmoke;
  background-image: linear-gradient(red, yellow);
}
#serchbar button {
  margin-left: 5px;
  font-weight: bolder;
  font-size: 15px;
  font-family: monospace;
  font-style: italic;
  border-radius: 300px;
  padding: 5px;
  font-stretch: condensed;
  background-color: greenyellow;
  border: 5px solid blue;
}
#serchbar button:hover {
  box-shadow: 0px 0px 10px orangered;
}

#accountbar {
  position: relative;
  left: 25px;

  float: left;
  width: 50px;
  height: 25px;
}

#manu button {
}
